body {
  min-height: 100vh;
  background: #f8f9fa;
}

.app-main {
  padding-top: 57px;
}

@media (min-width: 992px) {
  .designer-sidebar {
    position: sticky;
    top: 81px;
  }
}

pre {
  white-space: pre-wrap;
  word-break: break-word;
}
